<form>
  <div class="mainTable">
    <div class="tableRow">
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Name:" autocomplete="off" />
      </mat-form-field>
    </div>
    <div class="tableRow">
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="X:" autocomplete="off" />
      </mat-form-field>
    </div>
    <div class="tableRow">
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Y:" autocomplete="off" />
      </mat-form-field>
    </div>
    <div style="margin-top:10px ;text-align: right ;">
      <button mat-raised-button color="primary" (click)="addEntity()">Add</button>
      </div>
  </div>
</form>
